<app-header></app-header>
<div class="container">
    <div *ngIf="HighlightRow === -1">
      <div class="card text-center">
        <h1 class="title">Consulta Médica</h1>
        <div class="row">
          <div class="col">
            <span class="border">
              <fa-icon [icon]="faUserDoctor"></fa-icon>{{fechaActual | date:'dd-MMM-YYYY'}}
            </span>
          </div>
        </div>
        <table class="table table-primary table-bordered" style="margin: auto;">
          <thead>
            <tr>
              <th rowspan="2" style="width: 25%; text-align: center">Paciente</th>
              <th rowspan="2" style="width: 20%; text-align: center">Hora Cita</th>
              <th colspan="5" style="width: 55%; text-align: center">Signos</th>
            </tr>
            <tr>
              <th style="width: 15%; text-align: center;font-size: small; ">Temp</th>
              <th style="width: 10%; text-align: center;font-size: small;">Talla</th>
              <th style="width: 10%; text-align: center;font-size: small;">Peso</th>
              <th style="width: 10%; text-align: center;font-size: small;">Sis</th>
              <th style="width: 10%; text-align: center;font-size: small;">Dias</th>
            </tr>
          </thead>
        </table>
        <div style="width: 100%; border: 2px solid rgb(100, 100, 152);overflow: auto;height: 400px;">
          <table class="table table-hover table-bordered" style="margin: auto;">
            <tbody>
              <tr *ngFor="let cita of citas; let i = index"  
                    [class.selectedMedico]="i == HighlightRow" 
                    (click)="atenderPaciente(i)" >
                <td style="width: 25%">{{cita.paciente.nombre}} {{cita.paciente.apellidoP}}</td>
                <td style="width: 20%">{{cita.horaCita}}</td>
                <td style="width: 15%">{{cita.signos != undefined ? cita.signos.temperatura+'ºC' : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.estatura+'m' : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.peso+'kg' : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.presionSis : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.presionDias : ''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div  *ngIf="HighlightRow != -1" style="border: 1px solid blue;height: 500px;">
      <div class="card" >
        Está atendiendo al Paciente:  {{paciente.nombre}} {{paciente.apellidoP}}
          <table class="table-primary">
            <thead>
              <tr>
                <th style="text-align: center;">Talla</th>
                <th style="text-align: center;">Temperatura</th>
                <th style="text-align: center;">Peso</th>
                <th style="text-align: center;">Presión</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center;">{{cita.signos.estatura}}</td>
                <td style="text-align: center;">{{cita.signos.temperatura}}</td>
                <td style="text-align: center;">{{cita.signos.peso}}</td>
                <td style="text-align: center;">{{cita.signos.presionSis}} - {{cita.signos.presionDias}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="container text-center">
          <div class="row">
            <div class="col">
              <p>Socializar/Escuchar al paciente</p>
            </div>
            <div class="col">
              <p>Revisar/Oscultar</p>
            </div>
            <div class="col">
              <p>Diagnosticar</p>
            </div>
            <div class="col">
              <p>Cerrar</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style.width]="intervaloE1Porcentaje+'%'"></div>
              </div>
            </div>
            <div class="col">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style.width]="intervaloE2Porcentaje+'%'"></div>
              </div>
            </div>
            <div class="col">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style.width]="intervaloE3Porcentaje+'%'"></div>
              </div>
            </div>
            <div class="col">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style.width]="intervaloE4Porcentaje+'%'"></div>
              </div>
            </div>
          </div>
          </div>
          <hr>          
          <div class="row">
            <div class="col">
              <div class="card">
                <form #userForm="ngForm">
                  <div class="mb-3">
                    <label for="" class="label">Receta</label>
                      <textarea class="form-control" placeholder="Introduzca los medicamentes y su frecuencia de consumo"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="" class="label">Comentarios</label>
                    
                      <textarea class="form-control" placeholder="Introduzca algún comentario relevante sobre lo detectado en la consulta"></textarea>
                    
                  </div>
                </form>
              </div>
            </div>
            
          </div>
          <!--app-pesografica *ngIf="HighlightRow != -1"></!--app-pesografica-->
      </div>
      
        <button class="btn btn-primary" (click)="finalizaConsulta()">Finalizar</button>
      
    </div>
  
</div>
