<app-header></app-header>
<div class="container">
    <div *ngIf="HighlightRow === -1">
      <div class="card text-center">
        <div class="row">
          <div class="col">
            <h4 class="title">Consulta Médica</h4>
          </div>
        </div>
        <div *ngIf="isWorking" class="row">
          <div class="col">
            <div *ngIf="isWorking" class="spinner-border" role="status">
              <span class="visually">B&B</span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <span class="border">
              <fa-icon [icon]="faUserDoctor"></fa-icon>{{fechaActual | date:'dd-MMM-YYYY'}}
            </span>
          </div>
        </div>
        <table class="table table-primary table-bordered" style="margin: auto;">
          <thead>
            <tr>
              <th rowspan="2" style="width: 20%; text-align: center">Paciente</th>
              <th rowspan="2" style="width: 10%; text-align: center">Hora Cita</th>
              <th colspan="11" style="width: 65%; text-align: center">Signos</th>
            </tr>
            <tr>
              <th style="width: 7%; text-align: center;font-size: small; ">Temp</th>
              <th style="width: 7%; text-align: center;font-size: small;">Talla</th>
              <th style="width: 7%; text-align: center;font-size: small;">Peso</th>
              <th style="width: 7%; text-align: center;font-size: small;">Sis</th>
              <th style="width: 7%; text-align: center;font-size: small;">Dias</th>
              <th style="width: 6%; text-align: center;font-size: small;">F.C.</th>
              <th style="width: 6%; text-align: center;font-size: small;">F.R.</th>
              <th style="width: 6%; text-align: center;font-size: small;">SPO2</th>
              <th style="width: 6%; text-align: center;font-size: small;">Gluco</th>
              <th style="width: 5%; text-align: center;font-size: small;">Dolor</th>
              <th style="width: 6%; text-align: center;font-size: small;">IMC</th>
            </tr>
          </thead>
        </table>
        <div style="width: 100%; border: 2px solid rgb(100, 100, 152);overflow: auto;height: 400px;">
          <table class="table table-hover table-bordered" style="margin: auto;">
            <tbody>
              <tr *ngFor="let cita of citas; let i = index"  
                    [class.selectedMedico]="i == HighlightRow" 
                    (click)="atenderPaciente(i)" >
                <td style="width: 20%">{{cita.paciente.nombre}} {{cita.paciente.apellidoP}}</td>
                <td style="width: 10%">{{cita.horaCita}}</td>
                <td style="width: 7%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].temperatura+'ºC' : ''}}</td>
                <td style="width: 7%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].estatura+'cm' : ''}}</td>
                <td style="width: 7%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].peso+'kg' : ''}}</td>
                <td style="width: 7%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].presionSis : ''}}</td>
                <td style="width: 7%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].presionDias : ''}}</td>
                <td style="width: 6%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].frecuenciaCardiaca : ''}}</td>
                <td style="width: 6%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].frecuenciaRespiratoria : ''}}</td>
                <td style="width: 6%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].spo2 : ''}}</td>
                <td style="width: 6%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].glucotest : ''}}</td>
                <td style="width: 5%">{{cita.signos.length != 0 ? cita.signos[cita.signos.length-1].escalaDolor : ''}}</td>
                <td style="width: 6%">{{cita.signos.length != 0 ?  (cita.signos[cita.signos.length-1].peso/(cita.signos[cita.signos.length-1].estatura*cita.signos[cita.signos.length-1].estatura/10000) | number:'1.0-2') : ''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <table *ngIf="HighlightRow != -1" class="table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
      </colgroup>
      <thead>
        <tr>
          <th style="text-align: center;">Socializar/Escuchar al paciente</th>
          <th style="text-align: center;">Revisar/Oscultar</th>
          <th style="text-align: center;">Diagnosticar</th>
          <th style="text-align: center;">Cerrar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width]="intervaloE1Porcentaje+'%'"></div>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width]="intervaloE2Porcentaje+'%'"></div>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width]="intervaloE3Porcentaje+'%'"></div>
            </div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width]="intervaloE4Porcentaje+'%'"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div  *ngIf="HighlightRow != -1" style="border: 1px solid blue;height: 460px;">
      <div class="card" >
         <h4 style="text-align: center;">{{paciente.nombre}} {{paciente.apellidoP}}</h4>
          <table class="table table-primary table-bordered">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
            </colgroup>
            <thead>
              <tr>
                <th style="text-align: center;">Temperatura</th>
                <th style="text-align: center;">Talla</th>
                <th style="text-align: center;">Peso</th>
                <th style="text-align: center;">IMC</th>
                <th style="text-align: center;">T/A</th>
                <th style="text-align: center;">F. Respiratoria</th>
                <th style="text-align: center;">F. Cardiaca</th>
                <th style="text-align: center;">SPO2</th>
                <th style="text-align: center;">Glucotest</th>
                <th style="text-align: center;">E. Dolor</th>
              </tr>
            </thead>
          </table>
          <div style="height: 50px; overflow: auto; margin-top: -15px;">
          <table class="table table-hover table-bordered">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
            </colgroup>
            <tbody>
              <tr *ngFor="let signo of listaSignos">
                <td style="text-align: center;">{{signo.temperatura}}</td>
                <td style="text-align: center;">{{signo.estatura}}</td>
                <td style="text-align: center;">{{signo.peso}}</td>
                <td style="text-align: center;">{{signo.peso/(signo.estatura*signo.estatura/10000) | number:'1.0-2'}}</td>
                <td style="text-align: center;">{{signo.presionSis}} - {{cita.signos[0].presionDias}}</td>
                <td style="text-align: center;">{{signo.frecuenciaRespiratoria}}</td>
                <td style="text-align: center;">{{signo.frecuenciaCardiaca}}</td>
                <td style="text-align: center;">{{signo.spo2}}</td>
                <td style="text-align: center;">{{signo.glucotest}}</td>
                <td style="text-align: center;">{{signo.escalaDolor}}</td>
              </tr>
            </tbody>
          </table>
          </div>  
          <hr>          
          <div class="row">
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th>Receta</th>
                    <th>
                      <a href="http://" (click)="abreBuscaMedicamento()" title="Seleccionar medicamento"> <fa-icon [icon]="faPills" style="cursor: pointer;"></fa-icon></a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medicamento of receta.medicamentoReceta; let i = index">
                    <td>{{medicamento.nombre}}</td>
                    <td><input type="text" name="prescripcion" class="form-control" #prescipcion="ngModel" [(ngModel)]="medicamento.prescripcion" ></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea name="" class="form-control" cols="30" rows="6"></textarea>
            </div>
          </div>
          <!--app-pesografica *ngIf="HighlightRow != -1"></!--app-pesografica-->
      </div>
      <div style="text-align: right;">
        <button class="btn btn-primary" (click)="finalizaConsulta()">Finalizar</button>
      </div>
    </div>
  
    <div *ngIf="isMedicamentoOpen" class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;padding-left: 0px;">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <table>
              <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="60%">
              </colgroup>
              <tbody>
                <tr>
                  <td>
                    <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="medicamento.nombre" (keyup)="buscaMedicamentoEnter($event)">
                  </td>
                  <td>
                    <button type="submit" class="btn btn-primary" (click)="buscaMedicamento()">Buscar</button>
                    <button class="btn btn-secondary" (click)="limpiarBusqueda()">Limpiar</button>
                  </td>
                  <td style="text-align: center;">
                    <div *ngIf="isSearchingMedicamento" class="spinner-border" role="status">
                      <span class="visually">B&B</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table *ngIf="listaBusquedaMedicamento.length>0" class="table table-bordered">
              <colgroup>
                <col width="10%">
                <col width="30%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
              </colgroup>
              <thead>
                <tr>
                  <th style="text-align: center;">Familia</th>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Dosis Adulto</th>
                  <th style="text-align: center;">Dosis Niño</th>
                  <th style="text-align: center;">Presentación</th>
                </tr>
              </thead>
            </table>
            <div style="height: 300px;overflow: auto;margin-top: -15px;">
              <table class="table table-bordered table-hover">
                <colgroup>
                  <col width="10%">
                  <col width="30%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                </colgroup>
                <tbody>
                  <tr *ngFor="let medicamento of listaBusquedaMedicamento; let i = index" [class.selected]="i == HighlightMedicamento" (click)="highlightMedicamento(i)" >
                    <td>{{medicamento.familia}}</td>
                    <td>{{medicamento.nombre}}</td>
                    <td>{{medicamento.dosisAdulto}}</td>
                    <td>{{medicamento.dosisNino}}</td>
                    <td>{{medicamento.presentaciones}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cierraModal()">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="HighlightMedicamento===-1" (click)="seleccionaMedicamento()">Seleccionar</button>
          </div>
        </div>
      </div>
    </div>
    
</div>
