<div class="container">
  
    <div *ngIf="HighlightRow === -1">
      <div class="box has-text-centered">
        <h1 class="title">Consulta Médica</h1>
        <span class="icon-text">
          <span class="icon">
            <fa-icon [icon]="faUserDoctor"></fa-icon>
          </span>
          <span class="label">{{fechaActual | date:'dd-MMM-YYYY'}}</span>
        </span>
        <table class="table is-bordered is-fullwidth" style="margin: auto;">
          <thead>
            <tr>
              <th rowspan="2" style="width: 25%; text-align: center">Paciente</th>
              <th rowspan="2" style="width: 20%; text-align: center">Cita</th>
              <th colspan="5" style="width: 55%; text-align: center">Signos</th>
            </tr>
            <tr>
              <th style="width: 15%; text-align: center;font-size: small; ">Temp</th>
              <th style="width: 10%; text-align: center;font-size: small;">Est</th>
              <th style="width: 10%; text-align: center;font-size: small;">Peso</th>
              <th style="width: 10%; text-align: center;font-size: small;">Cis</th>
              <th style="width: 10%; text-align: center;font-size: small;">Dias</th>
            </tr>
          </thead>
        </table>
        <div style="text-align: center; width: 100%">
          <table class="table is-bordered is-hoverable is-fullwidth" style="margin: auto">
            <tbody>
              <tr *ngFor="let cita of citas; let i = index"  
                    [class.selectedMedico]="i == HighlightRow" 
                    (click)="atenderPaciente(i)" >
                <td style="width: 25%">{{cita.paciente.nombre}} {{cita.paciente.apellido}}</td>
                <td style="width: 20%">{{cita.horaCita}}</td>
                <td style="width: 15%">{{cita.signos != undefined ? cita.signos.temperatura+'ºC' : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.paciente.estatura+'m' : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.peso+'kg' : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.presionCis : ''}}</td>
                <td style="width: 10%">{{cita.signos != undefined ? cita.signos.presionDias : ''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div  *ngIf="HighlightRow != -1" style="border: 1px solid blue;">
      <div class="box has-text-centered" >
        <h1 class="title">Está atendiendo al Paciente</h1>
        
          <p class="title">{{paciente.nombre}} {{paciente.apellido}}</p>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Estatura</p>
                <p class="title">{{paciente.estatura}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Temperatura</p>
                <p class="title">{{cita.signos.temperatura}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Peso</p>
                <p class="title">{{cita.signos.peso}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Presion</p>
                <p class="title">{{cita.signos.presionCis}} - {{cita.signos.presionDias}}</p>
              </div>
            </div>
          </nav>
          <div class="columns">
            <div class="column">
              <div class="box">
                <form #userForm="ngForm">
                  <div class="field">
                    <label for="" class="label">Receta</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Introduzca los medicamentes y su frecuencia de consumo"></textarea>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="label">Comentarios</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Introduzca algún comentario relevante sobre lo detectado en la consulta"></textarea>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                  <div class="tile is-vertical is-parent">
                    <article class="tile is-child box is-primary notification">Historial 1</article>
                    <article class="tile is-child box is-primary notification">Historial 2</article>
                  </div>
                </div>
            </div>
          </div>
          <div class="field" style="text-align: right;">
            <button class="button is-success" (click)="finalizaConsulta()">Finalizar</button>
          </div>
          <!--app-pesografica *ngIf="HighlightRow != -1"></!--app-pesografica-->
        
      </div>
    </div>
  
</div>
