<app-header></app-header>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <form action="">
        <input type="text" name="" id="">
        <button type="button" class="btn btn-primary">Buscar</button>
      </form>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">Add</div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Relación</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
