<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-4" >
      <div class="card" >
        <form class="mid-form" #userForm="ngForm">
          <div class="form-group">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <fa-icon [icon]="faCoffee"></fa-icon>
              </span>
              <input type="text" class="form-control" name="nombre" #nombre="ngModel"  [(ngModel)]="medico.nombre"  placeholder="Nombre" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <fa-icon [icon]="faUserDoctor"></fa-icon>
              </span>
              <input type="text" class="form-control" name="especialidad"  #especialidad="ngModel" [(ngModel)]="medico.especialidad"  placeholder="Especialidad" />
            </div>
            <button class="btn btn-primary" (click)="addUpdateMedico()">{{accionBtn}}</button>
            <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <h2 style="text-align: center;" class="h2">Lista de Médicos</h2>
        <table class="table ">
          <thead>
            <tr>
              <th style="text-align: center;">Nombre</th>
              <th style="text-align: center;">Especialidad</th>
              <th style="text-align: center;">Acción</th>
            </tr>
          </thead>
        </table>
        <div style="width:100%; height:150px; overflow:auto; margin-top:-20px">
          <table class="table" style="width: 100%;">
            <tbody>
              <tr *ngFor="let medico of medicos; let i = index" (click)="selectRow(i)">
                <td>{{medico.nombre}}</td>
                <td>{{medico.especialidad}}</td>
                <td>
                  <span class="icon is-small is-left">
                    <a href="http://" (click)="editarMedico(i)"><fa-icon [icon]="faPencil"></fa-icon></a>
                  </span> &nbsp;
                  <span class="icon is-small is-left">
                    <a href="http://" (click)="borrarMedico(i)"><fa-icon [icon]="faTrashCan"></fa-icon></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>