<router-outlet></router-outlet>
<!----------------------------------->
<!--div id="app">
  <nav class="nav has-shadow">
    <div class="container">
      <section class="hero is-info is-fullwidth">
        <div class="hero-body has-text-centered">
          <p class="subtitle">Centro Médico Santiaguito</p>
        </div>
      </section>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab is-hidden-tablet" routerLink="/recepcion" [routerLinkActive]="['active']">
          <span class="icon">
            <fa-icon [icon]="faCalendarCheck"></fa-icon>
          </span> <small>Recepción</small> 
        </a>
        <a class="nav-item is-tab is-hidden-tablet" routerLink="/enfermeria" [routerLinkActive]="['active']">
          <span class="icon">
            <fa-icon [icon]="faUserNurse"></fa-icon>
          </span> <small>Enfermeria</small> 
        </a>
        <a class="nav-item is-tab is-hidden-tablet" routerLink="/medico" [routerLinkActive]="['active']">
          <span class="icon">
            <fa-icon [icon]="faUserDoctor"></fa-icon>
          </span> <small>Médico</small> 
        </a>
        <a class="nav-item is-tab is-hidden-tablet" routerLink="/admon" [routerLinkActive]="['active']">
          <span class="icon">
            <fa-icon [icon]="faGears"></fa-icon>
          </span> <small>Administración</small> 
        </a>
        <a class="nav-item is-tab is-hidden-tablet">
          <span class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
        </a>
        
        <a class="nav-item is-tab is-hidden-tablet">
          <span class="icon">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
          </span>
        </a>
      </div>
    </div>
  </nav>

  <section class="main-content columns is-fullheight">
    <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile" style="background-color:rgb(221, 247, 238);margin-top: 10px;" >
      <p class="menu-label is-hidden-touch">Menú</p>
      <ul class="menu-list">
        <li>
          <a routerLink="/recepcion" [routerLinkActive]="['active']">
            <span class="icon">
              <fa-icon [icon]="faCalendarCheck"></fa-icon>
            </span> <small>Recepción</small> 
          </a>
        </li>
        <li>
          <a routerLink="/enfermeria" [routerLinkActive]="['active']">
            <span class="icon">
              <fa-icon [icon]="faUserNurse"></fa-icon>
            </span> <small>Enfermeria</small> 
          </a>
        </li>
        <li>
          <a routerLink="/medico" [routerLinkActive]="['active']">
            <span class="icon">
              <fa-icon [icon]="faUserDoctor"></fa-icon>
            </span> <small>Médico</small> 
          </a>
        </li>
        <li>
          <a routerLink="/admon" [routerLinkActive]="['active']">
            <span class="icon">
              <fa-icon [icon]="faGears"></fa-icon>
            </span> <small>Administración</small> 
          </a>
        </li>

      </ul>
    </aside>

    <div class="container column">
      <router-outlet></router-outlet>
    </div>
  </section>

  <footer class="footer1">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Todos los derechos registrados&reg;</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">&copy; Powered By  	&#937;-RC </p>
      </div>
    </nav>
  </footer>
</div-->
