<app-header></app-header>
<div class="container text-center" style="margin-left: 10px">
  <div class="card">
    <div class="card-header text-center">
      <h2>Agenda para <strong>{{ medico.nombre }} {{medico.apellidoP}} - {{ medico.especialidad }} </strong> </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-8 card">
          <div class="row">
            <div class="col text-end">
              <button class="btn btn-primary" (click)="minusDay()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
              </button>
            </div>
            <div class="col">
              <span class="form-label">{{
                fechaActual | date : "dd-MMM-YYYY"
              }}</span>
            </div>
            <div class="col text-start">
              <button class="btn btn-primary" (click)="plusDay()">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </button>
            </div>
          </div>
          <table class="table" style="margin: auto">
            <thead>
              <tr>
                <th style="width: 29%; text-align: center">Nombre Paciente</th>
                <th style="width: 25%; text-align: center">Teléfono</th>
                <th style="width: 10%; text-align: center">Hora</th>
                <th style="width: 16%; text-align: center">Duración</th>
                <th style="width: 20%; text-align: center">Acción</th>
              </tr>
            </thead>
          </table>
          <div
            style="
              text-align: center;
              height: 350px;
              overflow: auto;
              border: 1px solid rgb(213, 213, 248);
            "
          >
            <table class="table is-bordered is-hoverable is-fullwidth">
              <tbody>
                <tr *ngFor="let cita of citas; let i = index">
                  <td style="width: 29%">
                    {{ cita.paciente.nombre }} {{ cita.paciente.apellido }}
                  </td>
                  <td style="width: 25%">{{ cita.paciente.telefono }}</td>
                  <td style="width: 10%">{{ cita.horaCita }}</td>
                  <td style="width: 16%">{{ cita.duracion }}</td>
                  <td style="width: 20%">
                    <span class="icon is-small is-left">
                      <a (click)="editarCita(i)"
                        ><fa-icon [icon]="faPencil"></fa-icon
                      ></a>
                    </span>
                    &nbsp;
                    <span class="icon is-small is-left">
                      <a (click)="borrarCita(i)"
                        ><fa-icon [icon]="faTrashCan"></fa-icon
                      ></a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <form #userForm="ngForm">
              <div class="mb-3">
                <label class="label">Médico</label>
                <select
                  class="form-select mb-3 border-success"
                  aria-label="Default select example"
                  [(ngModel)]="idMedico"
                  name="idMedico"
                  (change)="cambiaMedico($event)"
                >
                  <option *ngFor="let medico of medicos" [ngValue]="medico._id">
                    {{ medico.nombre }} {{ medico.apellidoP }} -
                    {{ medico.especialidad }}
                  </option>
                </select>
              </div>

              <div class="row">
                <div class="col">
                  <label for="" class="form-label">Fecha</label>
                  <input
                    type="date"
                    class="form-control border-success"
                    name="fechaCita"
                    #fechacita="ngModel"
                    [(ngModel)]="fechaCita"
                    (change)="cambiaFecha()"
                  />
                </div>
                <div class="col">
                  <label for="" class="form-label">Hora</label>
                  <input
                    type="time"
                    class="form-control border-success"
                    name="horaCita"
                    #horaCita="ngModel"
                    [(ngModel)]="cita.horaCita"
                    required
                  />
                  <small
                    *ngIf="!horaCita.valid && horaCita.touched"
                    style="background-color: red; font-size: large"
                    >Selecciona una hora!</small
                  >
                </div>
                <div class="col">
                  <label for="" class="form-label">Duración</label>
                  <select
                    class="form-select border-success"
                    [(ngModel)]="duracion"
                    name="duracion"
                  >
                    <option
                      *ngFor="let tiempoDur of tiempoDuracion"
                      [ngValue]="tiempoDur.value"
                    >
                      {{ tiempoDur.viewValue }}
                    </option>
                  </select>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control border-success"
                      name="nombre"
                      #nombre="ngModel"
                      [(ngModel)]="paciente.nombre"
                      placeholder="Nombre Paciente"
                      (keyup)="buscaPacienteMatch($event, 'nombre')"
                      required
                    />
                    <div
                      *ngIf="listaPacientesNombre.length != 0"
                      style="
                        width: 100%;
                        height: 150px;
                        overflow: auto;
                        margin-top: 0px;
                        border: 2px solid black;
                      "
                    >
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th style="text-align: center">Paciente</th>
                            <th>
                              <span class="icon-text">
                                <span class="icon">
                                  <a (click)="cerrarNombre()"
                                    ><fa-icon [icon]="faCircleXmark"></fa-icon
                                  ></a>
                                </span>
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let paciente of listaPacientesNombre;
                              let i = index
                            "
                            (click)="selectedRow(i)"
                            style="cursor: pointer"
                          >
                            <td colspan="2">
                              {{ paciente.nombre }} {{ paciente.apellido }} -
                              {{ paciente.telefono }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control border-success"
                      name="apellido"
                      #apellido="ngModel"
                      [(ngModel)]="paciente.apellido"
                      (keyup)="buscaPacienteMatch($event, 'apellido')"
                      placeholder="Apellido Paciente"
                      required
                    />
                    <div
                      *ngIf="listaPacientesApellido.length != 0"
                      style="
                        width: 100%;
                        height: 150px;
                        overflow: auto;
                        margin-top: 0px;
                        border: 2px solid black;
                      "
                    >
                      <table class="table is-hoverable is-fullwidth">
                        <thead>
                          <tr>
                            <th style="text-align: center">Paciente</th>
                            <th>
                              <span class="icon-text">
                                <span class="icon">
                                  <a (click)="cerrarApellido()"
                                    ><fa-icon [icon]="faCircleXmark"></fa-icon
                                  ></a>
                                </span>
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let paciente of listaPacientesApellido;
                              let i = index
                            "
                            (click)="selectedRow(i)"
                            style="cursor: pointer"
                          >
                            <td>
                              {{ paciente.nombre }} {{ paciente.apellido }} -
                              {{ paciente.telefono }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control border-success"
                        name="telefono"
                        #telefono="ngModel"
                        [(ngModel)]="paciente.telefono"
                        (keyup)="buscaPacienteMatch($event, 'telefono')"
                        placeholder="Teléfono Paciente"
                        required
                      />
                      <div
                        *ngIf="listaPacientesTelefono.length != 0"
                        style="
                          width: 100%;
                          height: 150px;
                          overflow: auto;
                          margin-top: 0px;
                          border: 2px solid black;
                        "
                      >
                        <table class="table is-hoverable is-fullwidth">
                          <thead>
                            <tr>
                              <th style="text-align: center">Paciente</th>
                              <th>
                                <span class="icon-text">
                                  <span class="icon">
                                    <a (click)="cerrarTelefono()"
                                      ><fa-icon [icon]="faCircleXmark"></fa-icon
                                    ></a>
                                  </span>
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let paciente of listaPacientesTelefono;
                                let i = index
                              "
                              (click)="selectedRow(i)"
                              style="cursor: pointer"
                            >
                              <td>
                                {{ paciente.nombre }} {{ paciente.apellido }} -
                                {{ paciente.telefono }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label class="form-label">Sexo</label>
                  </div>
                  <div class="col">
                    <label for="" class="radio"
                      >M
                      <input
                        type="radio"
                        class="form-check-input border-success"
                        name="sexo"
                        value="M"
                        [(ngModel)]="paciente.sexo"
                      />
                    </label>
                  </div>
                  <div class="col">
                    <label class="radio"
                      >F
                      <input
                        type="radio"
                        class="form-check-input border-success"
                        name="sexo"
                        value="F"
                        [(ngModel)]="paciente.sexo"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="label">Fecha de Nacimiento</label>
                <div class="row">
                  <div class="col">
                    <input
                      type="text"
                      name="dia"
                      class="form-control"
                      #dd="ngModel"
                      [(ngModel)]="dia"
                      placeholder="Día"
                      required
                    />
                  </div>
                  <div class="col">
                    <select class="form-select" name="mes" [(ngModel)]="mes">
                      <option *ngFor="let mes of meses" value="{{ mes.value }}">
                        {{ mes.viewValue }}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      name="anio"
                      class="form-control"
                      #yy="ngModel"
                      [(ngModel)]="anio"
                      placeholder="Año"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="control" style="text-align: right">
                <button
                  class="btn btn-primary"
                  style="margin: auto"
                  (click)="addUpdate()"
                  [disabled]="userForm.invalid"
                >
                  {{ btnAccion }}
                </button>
                &nbsp;
                <button
                  class="btn btn-primary"
                  style="margin: auto"
                  (click)="limpiar()"
                >
                  Limpiar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
