.selected {
  color: rgb(81, 237, 60) !important;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: small;
}

.selectedMedico {
  color: wheat !important;
  background-color: darkblue;
  font-weight: bold;
}

.venta-center{
  text-align: center;
  font-size: small;
}

.venta-right{
  text-align: right;
  font-size: small;
}

.conSignos {
  background-color: darkseagreen !important;
  color: black;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  #menu-toggle:checked+.nav-menu {
    display: block;
  }
}

.active {
  background-color: rgb(194, 196, 246);
  color: rgb(30, 57, 80) !important;
}

.medicamento{
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-outline {
  position:relative;
  width:100%
 }

 .login-wrap {
  position: relative;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group .submit {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}