.selected {
  color: rgb(81, 237, 60) !important;
  background-color: dodgerblue;
  font-weight: bold;
}

.selectedMedico {
  color: wheat !important;
  background-color: darkblue;
  font-weight: bold;
}

.conSignos {
  background-color: darkseagreen !important;
  color: black;
  font-weight: normal;
}

.sinSignos {
  background-color: rgb(227, 160, 178) !important;
}

@media screen and (max-width: 768px) {
  #menu-toggle:checked+.nav-menu {
    display: block;
  }
}

.active {
  background-color: rgb(194, 196, 246);
  color: rgb(30, 57, 80) !important;
}


.footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.content {
  width: 84%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.contentActive {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #6ebaf4;
  color: antiquewhite;
}

.sidebarActive {
  margin-left: -250px;
}

.form-outline {
  position:relative;
  width:100%
 }