<div class="container">
  <div class="row" style="border: 1px solid black">
    <div class="col">
      <label for="">¿Alguno de los siguientes familiares está enfermo de una condición
        médica que requiera atención continua? Por favor, marca las opciones que
        correspondan:</label>
    </div>
    <div class="col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Madre </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault"> Padre </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Hermano(a)
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Abuelo(a) Paterno(a)
        </label>
      </div>
    </div>
  </div>
  <div class="row" style="border: 1px solid black">
    <div class="col">¿Cuál es tu trabajo ahora mismo?</div>
    <div class="col" style="border-right: 1px solid black;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
        Oficina
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
          Construcción
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
        Tienda
        </label>
      </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
      <label class="form-check-label" for="flexRadioDefault2">
        Casa
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
      <label class="form-check-label" for="flexRadioDefault2">
        Otro
      </label>
    </div>
  </div>
  <div class="col">
    ¿Cómo es tu día a día?
  </div>
  <div class="col" style="border-right: 1px solid black;">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pregunta3" id="flexRadioDefault2" >
      <label class="form-check-label" for="pregunta2">
        Me mueve mucho durante el día.
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pregunta3" id="flexRadioDefault2" >
      <label class="form-check-label" for="pregunta2">
        Me la paso mucho tiempo sentado.
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="pregunta3" id="flexRadioDefault2" >
      <label class="form-check-label" for="pregunta2">
        Hago ejercicio regularmente.
      </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pregunta3" id="flexRadioDefault2" >
        <label class="form-check-label" for="pregunta2">
          No hago mucho ejercicio.
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pregunta3" id="flexRadioDefault2" >
        <label class="form-check-label" for="pregunta2">
          Otro.
        </label>
      </div>
    </div>
    <div class="col">
      ¿Dónde vives en este momento?
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pregunta4" id="flexRadioDefault2" >
        <label class="form-check-label" for="pregunta4">
          Ciudad
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pregunta4" id="flexRadioDefault2" >
        <label class="form-check-label" for="pregunta4">
          Suburbio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pregunta4" id="flexRadioDefault2" >
        <label class="form-check-label" for="pregunta4">
          Área rural
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pregunta4" id="flexRadioDefault2" >
        <label class="form-check-label" for="pregunta4">
          Otro
        </label>
      </div>
    </div>
  </div>
</div>
